@import 'tools';
@import 'colors';

// #test {
//  width: 100px;
//  height: 100px;
//  background: black;

//  @include browsers(chrome, ie) { background: green }
//  @include browsers(firefox) { background: red }
//  @include browsers(ie) { background: blue }
// }

$section-hr: 1px solid $gray;
$navbar-height: 4rem;
$main-padding: 2rem 1rem;
$heading-margin: 1.5rem;
$post-time-margin: .5rem;

$scrollbar-size: .875rem;

$breakpoint: 60rem;
$fluid: 55rem;

@media (min-width: $breakpoint) {
  body {
    max-width: $fluid;
  }
}

html, pre {
  scrollbar-color: $scrollbar transparent;
}

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  background-color: transparent;
  border-radius: calc(#{$scrollbar-size} / 2);

  &-button {
    width: 0;
    height: 0;
    display: none;
  }

  &-thumb {
    border-radius: calc(#{$scrollbar-size} / 2);
    background-color: $scrollbar;
    border: 3px solid $background;
  }

  &-track {
    background-color: transparent;
  }

  &-corner {
    background-color: transparent;
    border-color: transparent;
  }
}

html,
body {
  height: 100%;
  color: $foreground;
  background: $background;
}

body {
  margin: 0 auto;
}

.navbar {
  padding: .75rem 1rem;
  height: $navbar-height;

  //&-brand {
  //  position: relative;
  //  top: .0625rem;
  //  i,
  //  svg {
  //    margin-right: .75rem;
  //    position: relative;
  //    top: -.125rem;
  //  }
  //}

  &-toggler {
    width: 2.5rem;
    padding: 0;
    border: none;
  }

  .nav-link {
    padding: .5rem .75rem !important;
  }
}

body {
  > header {
    border-bottom: $section-hr;
  }

  > main {
    min-height: calc(100% - #{$navbar-height} * 2);
    padding: $main-padding;

    & > *:first-child {
      margin-top: 0;
    }
  }

  > footer {
    height: $navbar-height;
    border-top: $section-hr;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $heading-margin 0;
}

img {
  max-width: 100%;

  &.text-muted {
    border-radius: 0;
    font-size: .9rem;
    white-space: pre;

    @-moz-document url-prefix() {
      white-space: inherit;
    }
  }
}

figcaption {
  margin-top: .5rem;
}

.anchor {
  visibility: hidden;
  padding-left: .25em;

  i,
  svg {
    font-size: .67em;
  }

  h1:hover &,
  h2:hover &,
  h3:hover &,
  h4:hover &,
  h5:hover &,
  h6:hover & {
    visibility: visible;
  }
}

.post-time {
  margin: calc(#{$post-time-margin} - #{$heading-margin}) 0 $post-time-margin;
}

.tag {
  $darkens: (
      background-hover: 7.5%,
      background-active: 10%,
      border: 2.5%,
      border-hover: 10%,
      border-active: 12.5%,
      outline: 18.5%
  );
  $outline-width: .2rem;
  $outline-alpha: .5;

  @mixin button-variant($background) {
    $background-hover: darken($background, map-get($darkens, background-hover));
    $background-active: darken($background, map-get($darkens, background-active));
    $border: darken($background, map-get($darkens, border));
    $border-hover: darken($border, map-get($darkens, border-hover));
    $border-active: darken($border, map-get($darkens, border-active));

    background-color: $background;

    &:hover,
    &:focus {
      background-color: $background-hover;
    }

    &:focus {
      box-shadow: 0 0 0 $outline-width change-color(darken($background, map-get($darkens, outline)), $alpha: $outline-alpha);
    }

    &:not(:disabled):not(.disabled):active,
    .show > &.dropdown-toggle {
      background-color: $background-active;
    }
  }

  padding: .3rem .4rem;
  outline: none;
  @include button-variant($logo-color);
}

li header {
  font-size: 2rem;
}

a {
  &:link { color: $blue }
  &:visited { color: $purple }
  &:active { color: $red }
  &:focus { outline: none }

  .fa-external-link-alt {
    font-size: .8em;
    position: relative;
    top: -.0625rem;
  }
  &.no-icon .fa-external-link-alt {
    display: none;
  }
}

figure.highlight > pre,
pre.highlight {
  position: relative;

  & .copy-button {
    position: absolute;
    color: #f8f8f8;
    top: 0;
    right: 0;
    padding: 0 .3rem;
    margin: .4rem .45rem .375rem;
    opacity: .5;
    transition: .1s opacity;

    &:hover {
      opacity: 1 !important;
    }
  }
}

main ul {
  padding-left: 0;
  list-style-type: none;
  & li::before {
    content: '–';
    padding-right: .3em;
  }
}

main ol {
  padding-left: 1.125em;
}

.figure-caption {
  color: #7c848b;
}

//.text-muted,
.nav-link.disabled {
  color: $muted !important;
}

#theme-switcher .btn-link {
  position: relative;
  top: .15rem;
  color: $background;
  &.active {
    color: change-color($foreground, $alpha: .5);
    &:hover { color: change-color($foreground, $alpha: .75) }
  }
}

main > table {
  background: none !important;
  tr:nth-of-type(odd) {
    // background-color: rgba(255,255,255,.05);
  }
}

hr {
  //border-top: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid $gray;
}

// https://www.youtube.com/watch?v=eN6ZPuSnjV4
