$border-radius: 3px;

$breakpoint: 60rem;
$fluid: 55rem;

@media (min-width: $breakpoint) {
	nav,
	main,
	footer {
		width: $fluid;
	}
}

html,
body {
	height: 100%;
}

.navbar {
	padding: .75rem 1rem;
	border-bottom: 1px solid #e1e4e8;

	&-brand {
		i,
		svg {
			margin-right: .4rem;
			color: #3454b4;
		}
	}

	&-toggler {
		width: 2.5rem;
		padding: 0;
		border: none;
	}
}

body {
	main {
		min-height: calc(100% - 4rem * 2);
		margin: 0 auto !important;
		padding: 3rem 1rem;
	}

	footer {
		height: 4rem;
		border-top: 1px solid #e1e4e8;
	}
}

#contact {
	&s {
		margin-top: 2rem;
		max-width: 100%;

		a {
			margin: .25rem;

			i,
			svg {
				margin-right: .5rem;
				vertical-align: -10%;
			}
		}
	}

	// Media links
	&- {
		$background-hover-darken: 7.5%;
		$background-active-darken: 10%;
		$border-darken: 2.5%;
		$border-hover-darken: 10%;
		$border-active-darken: 12.5%;
		$outline-darken: 18.5%;
		$outline-alpha: .5;

		@mixin button-variant($background) {
			$background-hover: darken($background, $background-hover-darken);
			$background-active: darken($background, $background-active-darken);
			$border: darken($background, $border-darken);
			$border-hover: darken($border, $border-hover-darken);
			$border-active: darken($border, $border-active-darken);

			background-color: $background;

			&:hover,
			&:focus {
				background-color: $background-hover;
				border-color: $border-hover;
			}

			&:focus {
				box-shadow: 0 0 0 .2rem change-color(darken($background, $outline-darken), $alpha: $outline-alpha);
			}

			&:not(:disabled):not(.disabled):active,
			.show > &.dropdown-toggle {
				background-color: $background-active;
				border-color: $border-active;
			}
		}

		&instagram {
			$background: #bc1888;
			$border: #dc2743;
			$border-hover: darken($border, $border-hover-darken);
			$border-active: darken($border, $border-active-darken);

			@mixin gradient($darken) {
				background-color: darken($background, $darken);
				background:    -moz-linear-gradient(45deg, darken(#f09433, $darken) 0%, darken(#e6683c, $darken) 25%, darken(#dc2743, $darken) 50%, darken(#cc2366, $darken) 75%, darken(#bc1888, $darken) 100%);
				background: -webkit-linear-gradient(45deg, darken(#f09433, $darken) 0%, darken(#e6683c, $darken) 25%, darken(#dc2743, $darken) 50%, darken(#cc2366, $darken) 75%, darken(#bc1888, $darken) 100%);
				background:         linear-gradient(45deg, darken(#f09433, $darken) 0%, darken(#e6683c, $darken) 25%, darken(#dc2743, $darken) 50%, darken(#cc2366, $darken) 75%, darken(#bc1888, $darken) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{darken(#f09433, $darken)}', endColorstr='#{darken(#bc1888, $darken)}', GradientType=1);
			}

			@include gradient(0);
			@include button-variant($background);
			border: none;
			padding: calc(.375rem + 1px) calc(.75rem + 1px);
			
			&:hover,
			&:focus {
				@include gradient($background-hover-darken);
				border: 1px solid $border-hover;
				padding: .375rem .75rem;
			}
			
			&:active {
				@include gradient($background-active-darken);
				border: 1px solid $border-active;
				padding: .375rem .75rem;
			}
		}
		&bandcamp   { @include button-variant(#629aa9) }
		&email      { @include button-variant(#666) }
		&facebook   { @include button-variant(#3b5998) }
		&github     { @include button-variant(#333) }
		&linkedin   { @include button-variant(#0077b5) }
		&skype      { @include button-variant(#00aff0) }
		&soundcloud { @include button-variant(#f30) }
		&telegram   { @include button-variant(#08c) }
		&twitter    { @include button-variant(#1da1f2) }
		&vk         { @include button-variant(#45668e) }
	}

	#logo {
		color: #000;
		margin: .5rem 0 1.5rem;
		font-size: 1.33rem;
		font-weight: 500;

		&:hover {
			text-decoration: none;
		}

		i,
		svg {
			height: 34px;
			width: 34px;
			margin-right: 7px;
			vertical-align: -30%;
		}
	}

	header {
		font-size: 1.25rem;
	}

	header + a {
		margin-bottom: 1.5rem;
	}

	a {
		margin: .25rem;
	}

	#iframe {
		position: absolute;
		left: -10000px;
		top: -10000px;
	}
}

pre {
	&.highlight {
		border-radius: $border-radius;
		padding: .5rem .75rem;
		max-height: 20rem;
	}
}
